@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        &__button {
            display: flex;
            justify-content: center;
        }

        &__header_h1 {
            Font-size: 32px;
            Line-height: 39px;
            text-align: center;
        }

        &__header_h2 {
            Font-size: 14px;
            Line-height: 22px;
            text-align: center;
        }
    }

    .product-content {
        flex-direction: column;
        box-sizing: border-box;
    }

    .product__box {
        height: 1221px;
        &_product {
            width: 343px;
        }
    }
}