@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        &__button {
            display: flex;
            justify-content: center;
        }

        &__header_h1 {
            Font-size: 32px;
            Line-height: 39px;
            text-align: center;
        }

        &__header_h2 {
            Font-size: 14px;
            Line-height: 22px;
            text-align: center;
        }
    }

    .product-content {
        flex-direction: column;
        box-sizing: border-box;
    }

    .product__box {
        height: 1221px;
        &_product {
            width: 343px;
        }
    }

    .game1 {
        // height: 354px;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        flex-wrap: nowrap;
        // padding-top: 50px;
        justify-content: flex-start;
        
        &__game {
            width: 344px;
        }

        &__img {
            display: flex;
            justify-content: space-around;
            margin-bottom: 84px;
            padding-top: 64px;
        }

        &__game-text {
            font-size: 32px;
            line-height: 39px;
        }

        &__game-text1 {
            font-size: 14px;
            line-height: 22px;
            padding-top: 32px;
            text-align: center;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0px;
        }
    }

    .game2 {
        // height: 354px;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0px;
        justify-content: flex-end;

        &__img {
            display: flex;
            margin-bottom: 84px;
            padding-top: 64px;
            align-items: center;
        }

        &__game {
            width: 344px;
        }
    }

}