* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.top {
  height: 1024px;
  background: url(../img/fon1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.top__header_h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 59px;
  color: white;
  padding-top: 217px;
}

.top__header_h2 {
  font-weight: 300;
  Font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
}

.product__box {
  height: 556px;
  background: url(../img/fon2.jpg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top__button_style {
  font-weight: 400;
  width: 200px;
  height: 37px;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 30px;
  color: white;
  font-family: Montserrat;
  background: #9C0332;
  margin-top: 44px;
}
.top__button_style:hover {
  cursor: pointer;
}

.product__box_product {
  width: 378px;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.product__box_product:hover {
  border: 3px solid #0000FF;
  border-radius: 20px;
}

.product-content {
  display: flex;
  box-sizing: border-box;
  gap: 32px;
  position: relative;
  text-align: center;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.product-text {
  font-weight: 600;
  Font-size: 24px;
  line-height: 32px;
}

.product__text-1 {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.product__text-2 {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.product__text-3 {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.product_img {
  width: 100%;
}

.game1 {
  height: 800px;
  background: url(../img/fon3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: space-between;
}
.game1__text {
  padding-top: 282px;
}
.game1__game-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: white;
}
.game1__game-text1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: white;
}
.game1__img {
  padding-top: 234px;
}
.game1__button_style {
  font-weight: 400;
  width: 200px;
  height: 37px;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 30px;
  color: white;
  font-family: Montserrat;
  background: #9C0332;
  margin-top: 44px;
}
.game1__button_style:hover {
  cursor: url(../img/cours.svg);
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__button {
    display: flex;
    justify-content: center;
  }
  .top__header_h1 {
    Font-size: 32px;
    Line-height: 39px;
    text-align: center;
  }
  .top__header_h2 {
    Font-size: 14px;
    Line-height: 22px;
    text-align: center;
  }
  .product-content {
    flex-direction: column;
    box-sizing: border-box;
  }
  .product__box {
    height: 1221px;
  }
  .product__box_product {
    width: 343px;
  }
}/*# sourceMappingURL=style.css.map */